<div class="container my-4">
    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
        <li data-target="#multi-item-example" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
  
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-2">
                <img class="card-img-top" src="https://cdn.w600.comps.canstockphoto.com/tv-system-remote-control-tv-set-and-clip-art_csp2186252.jpg"
                     alt="Card image cap">
              </div>
            </div>
            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="https://www.lifewire.com/thmb/cMLo4k4UgmZ-KG-BpooXH-Twv44=/1333x1000/smart/filters:no_upscale()/SonyKD55X720E55-Inch4kUltraHDSmartLEDTV-5ae2296bfa6bcc0036833c06.jpg"
                     alt="Card image cap">
              </div>
            </div>
            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="https://image1.masterfile.com/getImage/NjkzLTAzMzAwNjIwZW4uMDAwMDAwMDA=AGjNKS/693-03300620en_Masterfile.jpg"
                     alt="Card image cap">
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-md-4">
                <div class="card mb-2">
                  <img class="card-img-top" src="https://image1.masterfile.com/getImage/NjkzLTAzMzAwNjIwZW4uMDAwMDAwMDA=AGjNKS/693-03300620en_Masterfile.jpg"
                       alt="Card image cap">
                </div>
              </div>
            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="https://helios-i.mashable.com/imagery/reviews/00YfzOiLCF53cCIU8A3DiPl/hero-image.fill.size_1200x900.v1623386413.jpg"
                     alt="Card image cap">
              </div>
            </div>
            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="https://cdn.w600.comps.canstockphoto.com/tv-system-remote-control-tv-set-and-clip-art_csp2186252.jpg"
                     alt="Card image cap">
              </div>
            </div>
          </div>   
        </div>
      </div>
   </div>
   <div class="controls-top text-center">
    <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
    <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
   </div> 
</div>