img{
    width: 35%;
    margin-left: 33%;
    
}
.head{
    font-weight: bold;
    font-size: x-large;
    color: crimson;
}

@media screen and (max-width: 600px){
    img{
        width: 91%;
        margin-left: 5%;
    }
}



